.imageUpload{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 1rem auto;
width: 60%;
gap: 1rem;
background-color: #fff;
padding: 2rem;
max-width: 50rem;

}
.imageUpload__progress{
    width: 100%;
}
